<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Js libs -->
    <script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="bower_components/core-scaffold/core-scaffold.html">
    <link rel="import" href="bower_components/core-item/core-item.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/paper-fab/paper-fab.html">
    <!-- /Js libs -->
</head>
<body fullbleed unresolved>
    <core-scaffold>
        <!-- Drawer panel -->
        <core-header-panel navigation flex>
            <core-toolbar class="tall">
            <!-- an avatar and username will be here -->
            </core-toolbar>
        </core-header-panel>

        <!-- App Title -->
        <div tool layout horizontal flex>
            <span flex>Kitteh Anonymous</span>
            <core-icon icon="account-circle"></core-icon>
            <span>15 people online</span>
        </div>

        <!-- Main content -->
        <div flex>Ciao</div>
    </core-scaffold>
</body>
</html>